* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Urbanist", sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    --buttonColor: #2a2c30;
    --secondaryColor: #4b4f56;
    --borderColor: #e3eaf0;
    --backgroundColor: #f7f7f7;
    --backgroundSecondary: #fefefe;
    --textColor: #1e1f23;
    --anchorColor: #535bf2;
    --main-color: #535bf2;
    --supporting-color: #ebf3fe;
    --glow-color: hsl(186, 91%, 4%);
    --btn-hover-bg-color: #ffA500;
    --main-color2: #ffA500;
}

html {
    /* font-size: 85%; */
    font-size: 62.5%;
    color: var(--textColor);
}

body {
    margin: 0 auto;
    padding: 0 32px;
    min-width: 320px;
    background-color: var(--backgroundColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: var(--textColor);
}

h1{
    font-size: 3.2rem;
}
h2{
    font-size: 3.2rem;
}

p, li, a, label{
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: var(--para-color);
    line-height: 1.5;
    font-weight: 400;
}

li{
    list-style: none;
}

a{
    color: #646cff;
    text-decoration: none;
    &:hover{
        color:#535bf2;
    }
}

::placeholder{
    font-family: "Urbanist", sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.container{
    max-width: 142rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}

:is(
    .section-extra-product,
    .section-blog,
    .section-policy,
    .section-contact--homepage,
    .section-why--choose,
    .section-contact,
    footer
).conatiner:first-child{
    padding: 6.4rem 0 2.4rem 0;
}

.grid {
    display: grid;
}
  
.grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
}
  
.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-three-cols{
    grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols{
    grid-template-columns: repeat(4,1fr);
}

.grid-four-cols{
    grid-template-columns: repeat(4, 1fr);
}

/* Buttons */
.btn{
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--white-color);
    text-transform: capitalize;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.btn:hover{
    background-color: var(--btn-hover-bg-color);
    box-shadow: var(--btn-box-shadow);
    cursor: pointer;
}

.btn:focus-visible,
input:focus-visible,
textarea:focus-visible{
    outline: 2px solid var(--para-color);
}

.section-common--title{
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}

/* Toast Notification */
.toast {
    position: fixed;
    top: 2rem;
    right: 1.4rem;
    background-color: var(--buttonColor);
    color: #fff;
    padding: 10px 20px;
    border-bottom: 0;
    border-color: red;
    font-size: 1.6rem;
    z-index: 1000;
    font-family: "Urbanist";
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
    animation: toastAnimation 2s linear;
    -webkit-animation: toastAnimation 2s linear;
}

@keyframes toastAnimation {
    0% {
        opacity: 0;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
    20% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

/* Navbar Section: */
.top_txt{
    background-color: var(--buttonColor);
    color: var(--backgroundColor);

    & .head_txt p{
        font-size: 1.5rem;
    }

    & .sign_in_up {
        display: flex;
        gap: 3.2rem;
    }
}


.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.section-navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem;
}

.section-navbar img {
    width: 30%;
}



.section-navbar .navbar ul {
    display: flex;
    gap: 3.2rem;
    text-transform: capitalize;
    align-items: center;
  
    & li a {
      color: var(--heading-color);
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.6rem;
      display: inline-block;
      position: relative;
  
      &:after {
        content: "";
        position: absolute;
        bottom: -0.3rem;
        left: 0;
        width: 0%;
        border-bottom: 0.1rem solid var(--main-color2);
        transition: all 0.3s linear;
      }
    }
    & li a:hover {
      color: var(--main-color2);
    }
  
    & li a:hover:after {
      width: 100%;
    }
}

/* Navbar Ends */

/* Hero Section */
main {
    height: 84vh;
    position: relative;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
     
}


/* From shapedivider.app */
.custom-shape-divider-bottom-1696038172 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
  
.custom-shape-divider-bottom-1696038172 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 12rem;
}
  
.custom-shape-divider-bottom-1696038172 .shape-fill {
    fill: #ffffff;
}

main .section-hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-hero .grid{
    align-items: center;
    gap: 6.4rem;
}

.section-hero {
    & .hero-subheading {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.7rem;
        word-spacing: 0.2rem;
        color: #003b99;
        font-weight: 700;
    }

    & .hero-heading {
        font-size: 5.8rem;
        line-height: 1.5;
        /* initial-letter: -0.2rem; */
        text-transform: capitalize;
        color: #003b99;
        font-family: "Jost";
    }

    & .hero-para {
        margin: 2rem 0 4.2rem 0;
        color: white;
    }   
} 
.section-hero img {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}
/* End Hero Section */

/* Product Sale Section */

.div-extra {
    padding: 3.2rem 2.4rem;
    background-color: var(--backgroundSecondary);
    position: relative;
  
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 15rem;
      height: 15rem;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%;
      background-color: var(--borderColor);
      z-index: 1;
    }
  
    & p {
      text-transform: uppercase;
      font-size: 1.4rem;
      color: #1f36b9;
    }
  
    & h3 {
      font-size: 2.4rem;
      text-transform: capitalize;
      margin: 0.6rem 0 1.6rem 0;
    }
  
    & a {
      text-transform: uppercase;
      color: var(--main-color2);
    }
  
    & .extra-img {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
  
      & img {
        width: 20rem;
        filter: drop-shadow(5px 8px 24px rgba(25, 76, 127, 0.2));
        -webkit-filter: drop-shadow(5px 8px 24px rgba(25, 76, 127, 0.2));
      }
    }
  
    & img {
      max-width: 100%;
      width: 30%;
      height: auto;
    }
  
    &:last-child img {
      -webkit-transform: rotate(5deg);
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -o-transform: rotate(5deg);
      transform: rotate(5deg);
    }
  
    & .extra-laptop img {
      width: 30rem;
      height: auto;
    }
  }
  
  .grid-three-cols {
    gap: 6.4rem;
  
    & :div {
      justify-self: left;
    }
  }
  
  .div-extra {
    -o-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

/* Policy Section */

.section-policy {
    & .container {
      padding: 3.2rem 0;
      background-color: #fefefe;
      border-radius: 0.5rem;
      justify-content: space-between;
    }
  }
  
  .div-policy {
    padding: 3.2rem;
    display: flex;
    align-items: center;
    gap: 3.2rem;
    border-right: 0.1rem solid var(--backgroundColor);
  
    &:last-child {
      border-right: none;
    }
  
    & .icons {
      font-size: 3.2rem;
      /* color: var(--main-color2); */
      color: #e7a31b;
    }
  
    p {
      text-transform: capitalize;
    }
  
    & p:last-child {
      font-size: 1.6rem;
    }
}
  
/* End Policy Section */

/* Why Choose */

.section-why--choose {
    margin: 0;
    padding: 0;
}

.section-why--choose .container {
    margin-bottom: 8rem; 
    padding: 0;
}
/* 
.section-why-choose .container{
    margin-top: 1rem;
} */

.section-common--subheading {
    margin-bottom: 2rem; 
}

.grid.grid-three--cols {
    margin-top: 0; 
    padding: 0;
}

.section-why--choose .grid {
    gap: 9.6rem; 
    align-items: center;
}

.why-choose--div {
    margin-bottom: 3.2rem;
}

.section-why--choose .text-align--right .why-choose--div {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
}

.section-why--choose .text-align--left .why-choose--div {
    align-items: start;
}

.common-text--highlight {
    color: var(--main-color2);
    width: 6rem;
    height: 6rem;
    background-color: var(--supporting-color);
    font-size: 2.4rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.choose-center-div,
.choose-center-div figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-origin: center;
}

.choose-center-div img {
    width: 90%;
    height: auto;
}

.choose-center-div figure::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45rem;
    height: 45rem;
    background-color: var(--main-color2);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    z-index: -1;
    animation: circle 5s linear infinite;
    -webkit-animation: circle 5s linear infinite;
}

@keyframes circle {
    0% {
        background-color: #f7ce7d;
    }
    25% {
        background-color: #f3c466;
    }
    50% {
        background-color: #ecb041;
    }
    75% {
        background-color: #debe6e;
    }
    100% {
        background-color: #F7CE68;
    }
}

.choose-center-div figure::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50rem;
    height: 50rem;
    background-color: transparent;
    z-index: -1;
    border: 0.5rem solid rgb(247, 220, 181);
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Why Choose Ends */

/* Contact Section: */
.section-contact .grid{
    gap: 6.4rem;
}

.mb-3 {
    margin-bottom: 3.2rem;
}

.contact-content {
    & .grid {
        gap: 6.4rem;
    }
}

label {
    text-transform: capitalize;
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 1.4rem 2.4rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}

.section-contact .contact-btn {
    font-size: 1.8rem;
    border: none;
    background-color: #ecb041;
    color: black;

    &:hover{
        background-color: #d28323;
        color: var(--supporting-color);
    }
}

.contact-map {
    display: flex;
    justify-content: flex-end;
}

::placeholder {
    text-transform: capitalize;
}

/* Contact Section Ends */

/* Footer Section: */
footer {
    width: 100%;
    background: var(--buttonColor);
    color: var(--backgroundColor);
    border-top-left-radius: 1rem ;
    border-top-right-radius: 1rem;
    margin-top: 6.4rem;
}

.footer-container .content_1 img{
    height: auto;
    width: 23rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;
}

.footer-container h4{
    color: var(--white-color);
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
}

.footer-container a{
    display: block;
    text-decoration: none;
    color: #ccc;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
}

.footer-container .content_1 p,
.footer-container .content_4 p {
    color: #ccc;
    margin: 2.5rem 0;
    font-size: 1.4rem;
    line-height: 1.5;
}

.footer-container .content_4 input[type="email"] {
    background-color: var(--textColor);
    border: none;
    color: var(--backgroundColor);
    outline: none;
    padding: 1.4rem 0.8rem;
    width: 100%;
}

.footer-container .content_4 .f-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container .content_4 .bx {
    color: var(--white-color);
}

.f-design {
    width: 100%;
    color: var(--white-color);
    text-align: center;
}

.f-design .f-design-txt {
    border-top: 1px solid var(--secondaryColor);
    padding: 1.6rem 0;
    color: #ccc;
}
/* Footer Section Ends */

/* Home Product Section: */
#productContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.8rem;

    & .information {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2.5rem;
    width: 36rem;
    padding: 1.6rem;
    margin: 1.8vh auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    -o-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    border-radius: 0.3rem;
}

.category {
    background-color: #f5caa5;
    padding: 0.3rem 1.2rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    -o-border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    border-radius: 10rem;
}

.productImage {
    max-width: 100%;
    width: 32rem;
    height: auto;
}

.productPriceElement,
.productQuantityElement,
.productStockElement {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

.productPriceElement {
    margin: 0.8rem 0;
}

.productProperty,
.productDescription {
    font-size: 1.6rem;
}

.stockElement {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border: 0.2rem solid var(--borderColor);
    border-radius: 0.8rem;
    margin: 0.8rem 0;

    & button {
        background-color: transparent;
        color: var(--buttonColor);
        font-size: 2rem;
        padding: 0.6rem 2rem;
        font-weight: bold;
        border: none;

        &:hover {
        cursor: pointer;
        }

        &:first-child {
            border-right: 0.1rem solid var(--borderColor);
            -o-border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            border-radius: 0;
        }

        &:last-child {
            border-left: 0.1rem solid var(--borderColor);
            -o-border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            border-radius: 0;
        }

    }

    .productQuantity {
        padding: 0rem 2.5rem;
        margin: 0;
        font-weight: bold;
    }
}

.productRating {
    color: #e9db16;
}

.productPrice,
.productActualPrice {
  font-size: 2rem;
}

.productActualPrice {
  text-decoration: line-through;
}

/* Home Section Ends */

#cartValue {
    background-color: var(--buttonColor);
    color: #fff;
    padding: 1rem 2rem;
}

.add-to-cart-button,
.contact-btn,
.hero-btn a {
    font-weight: 500;
    font: inherit;
    border-radius: 6px;
    border: 0;
    padding: 1rem 2.8rem;
    background-color: var(--buttonColor);
    color: #fff;
    font-size: 1.6rem;

    &:hover {
        box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.16),
                    inset 0px 0px 0px 3px rgb(51, 51, 51);
        background-color: #FF7F3E;
        color: #fff;
        cursor: pointer;
    }

    .fa-cart-shopping {
        padding-right: 1rem;
    }
}

/* Add to cart starts: */

#productCartContainer {
    display: flex;
    flex-direction: column;

    & .cards {
        width: 100%;
        max-width: 100%;
        margin: 0;
        box-shadow: 0 0;
        border-top: 0.1rem solid #d8d8d8;
        border-right: 0.1rem solid #d8d8d8;
        border-left: 0.1rem solid #d8d8d8;
        -o-border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;

        &:last-child {
            border-bottom: 0.1rem solid #d8d8d8;
        }
    }

    & .card {
        width: 100%;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr 1fr 1fr;
        align-items: center;
        gap: 3.2rem;
    }

    & .productImage {
        width: 16rem;
    }

    & .productName {
        font-size: 2rem;
    }

    & .productPrice {
        font-size: 1.7rem;
    }

    & .productActualPrice {
        font-size: 1.7rem;
    }
}


.productCartTotalElem {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 3.5rem;
}

.productCartTotalElement {
    padding: 2.4rem;
    background-color: var(--backgroundSecondary);
    height: auto;
    width: 31rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

}

.productOrderTotal {
    max-width: 30rem;

    & div{
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;

        p {
            color: #4a4f55;
        }

        .productSubTotal,
        .productFinalTotal,
        .productTax {
            color: var(--textColor);
            font-weight: bold;
        }
    }
}

/* Add to cart ends */


/* Media Queries section */

@media (width <= 1380px) {
    html {
        font-size: 56.25%;
    }

    .section-hero img{
        width: 90%;
    }
}

@media (width <= 1220px){
    html {
        font-size: 54%;
    }
    
    :is(
        .section-why--choose,
        .section-products,
        .section-extra-product,
        .section-hero,
        .section-policy

    )
     .grid {
        gap: 6.4rem;
    }

    .choose-center-div figure::after {
        width: 46rem;
        height: 46rem;
    }
}

@media (width <= 1100px) {
    .grid-four--cols {
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }

    .custom-shape-divider-bottom-1696038172 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 8rem;
    }

    .section-why--choose {
        & .choose-center-div {
            order: 1;

            & figure::before {
                width: 0;
                height: 0;
                background-color: transparent;
                display: none;
            }


            & figure::after {
                width: 0;
                height: 0;
                background-color: transparent;
                display: none;
            }
        }

        & .choose-right-div {
            order: 3;
            text-align: start;
        }

        & .choose-left-div{
            order: 2;
            text-align: end;
        }
    }

    .contact-title {
        font-size: 2.4rem;
    }

    .section-contact .grid-two--cols {
        grid-template-columns: 2fr 1.5fr;
        gap: 3.2rem;
    }
}


@media (width <= 980px) {
    body {
        padding: 0 0.6rem;
    }

    .section-products #productContainer {
        grid-template-columns: repeat(2, minmax(33%, 1fr));
    }
    
    .section-hero .hero-heading {
        font-size: 4.4rem;
    }

    footer {
        padding: 0 1.6rem;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(33%, 1fr));
    

        & .content_1 {
            grid-column: 1 / -1;
            margin-bottom: 3.2rem;
        }

        & .content_4 {
            margin-top: 3.2rem;
        }
    }

    main .section-hero {
        height: auto;

        & .grid-two--cols {
            grid-template-columns: 1fr;
        }
    }

    .section-hero .section-hero--content {
        order: 2;
    }

    .section-hero .section-hero-image {
        display: grid;
        place-items: center;

        & figure {
            display: grid;
            place-items: center;
        }
    }

    .section-hero img {
        width: 40%;
    }
    
    .section-about .about-div {
        text-align: left;
        padding: 0;
    }

}

@media (width <= 768px) {
    .grid-two--cols {
      grid-template-columns: 1fr;
    }
  
    .section-contact .grid-two--cols {
      grid-template-columns: 1fr;
    }
  
    .grid-three--cols {
      grid-template-columns: 1fr;
    }
  
    .section-hero .hero-heading {
      font-size: 4.2rem;
    }
  
    .section-products #productContainer {
      grid-template-columns: repeat(1, minmax(33%, 1fr));
    }
  
    #productCartContainer .card {
      width: 100%;
      display: grid;
      grid-template-columns: 0.5fr 0.1fr repeat(2, 1fr);
      align-items: center;
      /* margin: auto; */
      gap: 3.2rem;
    }
  
    .productQuantity {
      text-align: center;
    }
  
    .stockElement {
      grid-column: 1 / 4;
    }
  
    .remove-to-cart-button {
      grid-column: 4 / -1;
    }

  
    .section-navbar .container {
      flex-direction: column;
      gap: 3.2rem;
    }
  
    .section-why--choose {
      & img {
        width: 30%;
      }
  
      & .grid {
        gap: 1.4rem;
      }
  
      & .choose-left-div {
        text-align: left;
      }
    }

    .section-why--choose .text-align--right .why-choose--div {
        align-items: start;
        text-align: start;
    }
  
    .section-contact--homepage .btn {
      display: block;
      text-align: center;
    }
  
    :is(.section-contact--homepage) .container:first-child {
      padding: 6.4rem 0rem 2.4rem 0rem;
    }
}
